/* Headline */

.prediction-headline
{
    text-align: center;
    color: white;
    padding: 40px 80px;
    padding-bottom: 65px;
    background: linear-gradient(250deg, rgba(4, 245, 255), rgba(233, 0, 82), rgba(0, 255, 135));
}

/* Predicted Fixture */

.prediction-heading
{
    margin-bottom: 20px;
}

.prediction-heading h1
{
    font-size: 70px;
}

.prediction-heading p
{
    font-size: 15px;
}

.fixture-prediction
{
    text-align: center;
    display: flex;
    align-items: center;
}

.fixture-prediction img
{
    width: 250px;
}

.fixture-prediction-score
{
    font-size: 60px;
}

.fixture-prediction-team
{
    margin: auto;
    width: 375px;
    text-align: center;
}

.fixture-prediction-team p
{
    font-size: 23px;
    font-weight: bolder;
}

/* Content */

.prediction-content
{
    padding: 80px 80px;
}

/* Expected Goal */

.xG
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 15px;
    width: 100%;
    text-align: left;
}

.team-xG
{
    padding: 25px;
    border-radius: 5px;
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 80px,
        #f7f5f7 80px,
        #f7f5f7 160px
    );
    color: #38003c;
    flex: 1 1 100%;
    border: 3px solid rgb(205, 205, 205);
}

.team-xG-label
{
    font-size: 18px;
    margin-bottom: 20px;
}

.team-xG-data
{
    font-size: 40px;
    font-weight: bold;
}

/* Distributions */

.distributions
{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.distributions-container
{
    flex: 1 1 100%;
}

.distributions-container h1
{
    text-align: center;
    width: 100%;
    color: white;
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #38003c;
    border: 3px solid grey;
    border-bottom: none;
}

.distributions-container ul
{
    list-style-type: none;
    border: 3px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.distributions-container li
{
    color: #38003c;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
}

.goal-amount
{
    border-right: 1px solid grey;
    width: 100px;
    padding: 15px;
}

.goal-percentage
{
    padding: 15px;
}

/* Responsive Elements */

@media only screen and (max-width: 1400px) 
{
    .prediction-headline
    {
        padding: 40px 20px;
    }

    .prediction-heading h1
    {
        font-size: 40px;
    }

    .predicted-heading p
    {
        font-size: 10px;
    }

    .fixture-prediction img
    {
        width: 100px;
    }

    .fixture-prediction-score
    {
        font-size: 20px;
    }

    .fixture-prediction-team
    {
        width: 150px;
    }

    .fixture-prediction-team p
    {
        font-size: 15px;
    }

    .prediction-content
    {
        flex-direction: column;
        padding: 40px 20px;
    }

    .team-xG-label
    {
        font-size: 15px;
    }

    .team-xG-data
    {
        font-size: 25px;
    }

    .distributions
    {
        flex-direction: column;
        gap: 40px;
    }

    .distributions-container
    {
        width: 100%;
    }
}