<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Forecast - Home</title>
    <link rel="stylesheet" href="home-template.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Albert+Sans">
</head>
<body>
    <div class="main-header">
        <a href="#" class="logo"><ion-icon name="football-outline"></ion-icon></a>
        <div class="nav">
            <a>Home</a>
            <a>Results</a>
            <a>Fixtures</a>
            <a>Table</a>
        </div>
        <div class="socials">
            <a href="mailto:harmonyiroha99@gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
            <a href="https://github.com/Harmones81" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://www.linkedin.com/in/harmony-iroha/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
    </div>
    <div class="sub-header" id="sub-header"></div>
    <div class="headline">
        <h1>Next Fixture</h1>
        <div class="latest-fixture">
            <div class="team">
                <img src="../images/logo_18.png">
                <p class="team-name">Wolverhampton Wanderers</p>
            </div>
            <div class="fixture-info">
                <h1>VS</h1>
                <p>Tomorrow, 3:00 pm</p>
                <p>Venue: London Stadium, UK</p>
            </div>
            <div class="team">
                <img src="../images/logo_14.png">
                <p class="team-name">West Ham United</p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="content-fixtures">
            <div class="upcoming-fixtures">
                <h1>
                    Upcoming Fixtures
                    <p>Gameweek 15</p>
                </h1>
                <ul>
                    <li>
                        <div class="fixture-teams">
                            <div class="fixture-list-team">
                                <img src="../images/logo_12.png"> <div>Aston Villa</div>
                            </div>
                            <div class="fixture-list-team">
                                <img src="../images/logo_13.png"> <div>Bournemouth</div>
                            </div>
                        </div>
                        <div class="fixture-info">
                            <p>Saturday, Dec 22</p>
                            <p>7:30 am</p>
                            <p>Venue: Villa Park</p>
                        </div>
                    </li>
                    <li>
                        <div class="fixture-teams">
                            <div class="fixture-list-team">
                                <img src="../images/logo_16.png"> <div>Crystal Palace</div>
                            </div>
                            <div class="fixture-list-team">
                                <img src="../images/logo_15.png"> <div>Leicester City</div>
                            </div>
                        </div>
                        <div class="fixture-info">
                            <p>Saturday, Dec 22</p>
                            <p>9:00 am</p>
                            <p>Venue: Selhurst Park</p>
                        </div>
                    </li>
                    <li>
                        <div class="fixture-teams">
                            <div class="fixture-list-team">
                                <img src="../images/logo_3.png"> <div>Chelsea</div>
                            </div>
                            <div class="fixture-list-team">
                                <img src="../images/logo_8.png"> <div>Brentford</div>
                            </div>
                        </div>
                        <div class="fixture-info">
                            <p>Saturday, Dec 22</p>
                            <p>3:00 pm</p>
                            <p>Venue: Stamford Bridge</p>
                        </div>
                    </li>
                    <li>
                        <button>View All <ion-icon name="log-out-outline"></ion-icon></button>
                    </li>
                </ul>
            </div>
            <div class="recent-results">
                <h1>
                    Recent Results
                    <p>Last 3 Fixtures</p>
                </h1>
                <ul>
                    <li>
                        <div class="fixture-result">
                            <div class="fixture-result-team">
                                <img src="../images/logo_3.png">
                                <p>Chelsea</p>
                            </div>
                            <div class="scoreline">
                                <p>4 - 3</p>
                            </div>
                            <div class="fixture-result-team">
                                <img src="../images/logo_7.png">
                                <p>Tottenham Hotspur</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="fixture-result">
                            <div class="fixture-result-team">
                                <img src="../images/logo_2.png">
                                <p>Arsenal</p>
                            </div>
                            <div class="scoreline">
                                <p>1 - 1</p>
                            </div>
                            <div class="fixture-result-team">
                                <img src="../images/logo_10.png">
                                <p>Fulham</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="fixture-result">
                            <div class="fixture-result-team">
                                <img src="../images/logo_4.png">
                                <p>Brighton and Hove Albion</p>
                            </div>
                            <div class="scoreline">
                                <p>2 - 2</p>
                            </div>
                            <div class="fixture-result-team">
                                <img src="../images/logo_16.png">
                                <p>Crystal Palace</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button>View All <ion-icon name="log-out-outline"></ion-icon></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-content">
        <h1>Premier League Table</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="../images/logo_1.png"></td>
                        <td>14</td>
                        <td>11</td>
                        <td>2</td>
                        <td>1</td>
                        <td>29</td>
                        <td>11</td>
                        <td>18</td>
                        <td><b>35</b></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="../images/logo_3.png"></td>
                        <td>15</td>
                        <td>9</td>
                        <td>4</td>
                        <td>2</td>
                        <td>35</td>
                        <td>18</td>
                        <td>17</td>
                        <td><b>31</b></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="../images/logo_2.png"></td>
                        <td>15</td>
                        <td>8</td>
                        <td>5</td>
                        <td>2</td>
                        <td>29</td>
                        <td>15</td>
                        <td>14</td>
                        <td><b>29</b></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="../images/logo_5.png"></td>
                        <td>15</td>
                        <td>8</td>
                        <td>3</td>
                        <td>4</td>
                        <td>27</td>
                        <td>21</td>
                        <td>6</td>
                        <td><b>27</b></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="../images/logo_6.png"></td>
                        <td>15</td>
                        <td>7</td>
                        <td>4</td>
                        <td>4</td>
                        <td>19</td>
                        <td>18</td>
                        <td>1</td>
                        <td><b>25</b></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="../images/logo_12.png"></td>
                        <td>15</td>
                        <td>7</td>
                        <td>4</td>
                        <td>4</td>
                        <td>23</td>
                        <td>23</td>
                        <td>0</td>
                        <td><b>25</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function displayTeams(imageNames)
        {
            const subHeader = document.getElementById("sub-header");

            imageNames.forEach(element => {
                const img = document.createElement('img');
                img.src = `../images/${element}`;

                subHeader.appendChild(img);
            });
        }

        const imageNames = ['logo_1.png', 'logo_2.png', 'logo_3.png', 'logo_4.png', 'logo_5.png', 'logo_6.png', 'logo_7.png',
            'logo_8.png', 'logo_9.png', 'logo_10.png', 'logo_11.png', 'logo_12.png', 'logo_13.png', 'logo_14.png', 'logo_15.png',
            'logo_16.png', 'logo_17.png', 'logo_18.png', 'logo_19.png', 'logo_20.png'
        ]

        displayTeams(imageNames);
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>